.container {
  width: 90vw;
  height: 90vh;
}

.character_card {
  margin-top: 5em;
}

.character_card img {
  max-width: 100%;
  border-radius: 0% 0% 25% 25%;
}

.acc {
  width: 100%;
}

.character_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
