.CharacterList {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(77, 77, 77);
}

.Character {
  backgroundcolor: beige;
}
.flex_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.flex_container h4 {
  height: 1em;
}
.flex_container img {
  height: 80%;
}

.searchBar {
  display: flex;
  justify-content: center;
  text-align: left;
}
.character_item {
  height: 43vh;
  width: 33vh;
  margin: 1em 0;
}
